*.ivf
*.yuv
*.y4m
*.user
*.o
*.db
*.sdf
*.suo
*.opendb
*.vs
*.bin
*.opensdf
*.log
.vscode
.idea
cmake-build-debug
Bin
Build
build
test/vectors/
test/docs/
!Build/linux/build.sh
!Build/windows/build.bat
.DS_Store
